/* Fonts */

@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-600-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Crimson Text';

  src: url('../fonts/crimson-text-700-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* General */

html, body {
  background-color: #f4f4f4;
  font-family: 'Crimson Text', sans-serif;
}

/* Navigation */

.navbar-inverse {
  background-color: #fff;
  border: none;
  box-shadow: 0 -2px 10px black;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
}

.navbar-inverse .navbar-toggle {
  border-color: #eee;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #eee;
}

.navbar-inverse .navbar-toggle .icon-bar {
  width: 25px;
  background-color: #ccc;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: #999;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
  color: #444;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #999;
}

/* Header */

.page-header {
  margin-top: 15px;
  border-bottom: none;
}

/* Footer */

footer {
  text-align: center;
}

/* Portfolio Content */

.portfolio-item .img-responsive {
  /**/box-shadow: 0px 5px 8px -6px black;/**/
  /**/-webkit-box-shadow: 0px 5px 8px -6px black;/**/
  /**/-moz-box-shadow: 0px 5px 8px -6px black;/**/
}

.portfolio-item .card {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 6px -3px black;
  -webkit-box-shadow: 0px 3px 6px -3px black;
  -moz-box-shadow: 0px 3px 6px -3px black;
  /**/height: auto;/**/
}